<h1>Listing lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th>Info</th>
    <th>Parent</th>
    <th>Link list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.template %></td>
    <td><%= list.info %></td>
    <td><%= list.parent_id %></td>
    <td><%= list.link_list_id %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
