<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Template:</b>
  <%= @list.template %>
</p>

<p>
  <b>Info:</b>
  <%= @list.info %>
</p>

<p>
  <b>Parent:</b>
  <%= @list.parent_id %>
</p>

<p>
  <b>Link list:</b>
  <%= @list.link_list_id %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
