.hero-unit
  %h3
    = @list.parent.name+" &gt; " if @list.parent
    = @list.name
    - if can? :edit, @list
      = link_to 'Edit', edit_list_path(@list), :class=>'edit'

  %p
    = @list.info
  %dl
  - @list.list_items.each do |item|
    %dt= item.title
    %dd= item.description

%ul.nav.nav-list.login
  %li.nav-header Links
  %li= @list.link_list_id
  
