<%= form_for(@social_link) do |f| %>
  <% if @social_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social_link.errors.count, "error") %> prohibited this social_link from being saved:</h2>

      <ul>
      <% @social_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :service_name %><br />
    <%= f.text_field :service_name %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
