<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= @progress.list %>
</p>

<p>
  <b>User:</b>
  <%= @progress.user %>
</p>

<p>
  <b>Complete:</b>
  <%= @progress.complete %>
</p>


<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
