<h1>Listing templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>For object type</th>
    <th>For object</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.name %></td>
    <td><%= template.for_object_type %></td>
    <td><%= template.for_object_id %></td>
    <td><%= template.body %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %>
