<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @template.name %>
</p>

<p>
  <b>For object type:</b>
  <%= @template.for_object_type %>
</p>

<p>
  <b>For object:</b>
  <%= @template.for_object_id %>
</p>

<p>
  <b>Body:</b>
  <%= @template.body %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
