<h1>Listing external_links</h1>

<table>
  <tr>
    <th>Href</th>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @external_links.each do |external_link| %>
  <tr>
    <td><%= external_link.href %></td>
    <td><%= external_link.name %></td>
    <td><%= external_link.title %></td>
    <td><%= external_link.description %></td>
    <td><%= link_to 'Show', external_link %></td>
    <td><%= link_to 'Edit', edit_external_link_path(external_link) %></td>
    <td><%= link_to 'Destroy', external_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New External link', new_external_link_path %>
