= form_for @user_state do |f|
  - if @user_state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_state.errors.count, "error")} prohibited this user_state from being saved:"
      %ul
        - @user_state.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :state_for_type
    = f.text_field :state_for_type
  .field
    = f.label :state_for_id
    = f.number_field :state_for_id
  .actions
    = f.submit 'Save'
