%h1 Listing user_states

%table
  %tr
    %th State for type
    %th State for
    %th
    %th
    %th

  - @user_states.each do |user_state|
    %tr
      %td= user_state.state_for_type
      %td= user_state.state_for_id
      %td= link_to 'Show', user_state
      %td= link_to 'Edit', edit_user_state_path(user_state)
      %td= link_to 'Destroy', user_state, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User state', new_user_state_path
