%h1 Listing list_items

%table
  %tr
    %th Name
    %th Description
    %th Icon
    %th Created by
    %th List
    %th
    %th
    %th

  - @list_items.each do |list_item|
    %tr
      %td= list_item.name
      %td= list_item.description
      %td= list_item.icon
      %td= list_item.created_by
      %td= list_item.list_id
      %td= link_to 'Show', list_item
      %td= link_to 'Edit', edit_list_item_path(list_item)
      %td= link_to 'Destroy', list_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New List item', new_list_item_path
