%h3 Login
= form_for User.new, :url=>user_session_path do |f|
  %ul.nav.nav-list.login
    %li.nav-header email: #{f.text_field :email}
    %li.nav-header password: #{f.password_field :password}
    %li 
      #{f.check_box :remember_me, :style=>"display:inline-block;"} #{f.label :remember_me, 'Remember me', :style=>"display:inline-block;"}
      %button{:class=>'right'} Sign in
    %li.nav-header= link_to "Sign up", new_user_registration_path
    %li.nav-header= link_to "Forgot your password?", new_user_password_path
    %li.nav-header= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path
  
