= simple_form_for(@image) do |f|
  = f.error_notification

  .form-inputs
    = f.input :created_by
    = f.input :image
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit
