%p#notice= notice

%p
  %b Created by:
  = @image.created_by
%p
  %b Image:
  = @image.image
%p
  %b Name:
  = @image.name
%p
  %b Description:
  = @image.description

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
